<!-- 
Copyright 2024 Kaden Bilyeu (Bikatr7) (https://github.com/Bikatr7) (https://github.com/Bikatr7/bikatr7.github.io) (https://bikatr7.github.io)
Use of this source code is governed by a GNU General Public License v3.0
license that can be found in the LICENSE file.
-->

<header>
  <nav>
    <ul>
      <li><a href="{{ '/' | relative_url }}">Home</a></li>
      <li><a href="{{ '/about' | relative_url }}">About Me</a></li>
      <li><a href="{{ '/about_site' | relative_url }}">About This Site</a></li>
      <li><a href="{{ '/contact' | relative_url }}">Contact</a></li>
    </ul>
  </nav>
</header>
