/* Reset default padding and margin for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Apply box-sizing to all elements */
}

/* Global body styles */
body {
  overflow-y: scroll; /* Force vertical scrollbar */
  overflow-x: hidden; /* Prevent horizontal overflow */
  background-color: #121212; 
  color: #ffffff; 
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Style for the header */
header {
  background-color: #1c1c1c;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

header nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

/* Style for the main content area */
.container {
  padding: 3rem 2rem;
}

/* Style for the footer */
footer {
  background-color: #1c1c1c;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  padding: 1rem;
  text-align: center;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  color: #ffffff;
}

/* 404 Page Styles */
.container-404 {
  margin: 50px auto;
  max-width: 600px;
  text-align: center;
  color: #cccccc;
}

.container-404 h1 {
  margin: 50px 0;
  font-size: 5em;
  color: #e0e0e0;
}

.container-404 p {
  margin: 20px 0;
  font-size: 1.25em;
}

.home-link {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4e80f6;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.home-link:hover {
  background-color: #3a5fcd;
}

/* About Page Styles */

.about-page {
max-width: 800px; 
margin: 0 auto; /* This centers the .about-page block */
padding: 2rem;
text-align: left;
color: #ffffff; 
}

.about-page h1 {
  color: #ffffff;
  text-align: center; /* This centers the text of h1 elements */
}

.about-page h2 {
  color: #ffffff;
}
.about-page ul {
  list-style-type: none;
  padding: 0; /* Removes padding for list */
}
.about-page a {
  color: #4e80f6;
}
.about-page p, .about-page li {
  color: #cccccc;
  margin-bottom: 1rem;
}

/* Contact Page Styles */

.contact-page {
  max-width: 800px;
  margin: 0 auto; /* This centers the .contact-page block */
  padding: 2rem;
  color: #ffffff;
  text-align: left; /* This aligns the text to the left */
}

.contact-page h1 {
  color: #ffffff;
  text-align: center; /* This centers the text of h1 elements */
}

.contact-page ul {
  list-style-type: none;
  padding: 0; /* Removes padding for list */
}

.contact-page a {
  color: #4e80f6;
}

.contact-page p, .contact-page li {
  color: #cccccc;
  margin-bottom: 1rem;
}

/* Home Page Styles */

.home-page {
  max-width: 800px; 
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
  color: #ffffff; 
}

.home-page h1, .home-page .top-section a {
  color: #ffffff;
  text-align: center; 
}

.home-page p.top-section {
  color: #cccccc;
}

#scroll-arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, +90%);
  cursor: pointer;
}

.project-carousel, .image-carousel {
  width: 100%;
  position: relative;
  max-width: 800px; 
  margin: 20px auto;
}

.project-carousel a {
  color: #4e80f6;
}

.project-carousel {
  margin-top: 660px;
}

.project-slide.active, .image-slide.active {
  display: block;
}

.project-title{ 
  text-align: center;
}

.project-description {
  text-align: center;
  margin: 0;
  color: #cccccc;
}

.project-slide {
  height: auto;
}

.image-carousel {
  height: 650px; 
  overflow: hidden; 
}

.image-slide {
  display: none;
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%; 
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: scale-down;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-controls {
  text-align: center;
}

button.prev-img, button.next-img, button.prev-project, button.next-project {
  cursor: pointer;
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 0 5px;
}

button.prev-project, button.next-project {
  position: absolute;
  top: calc(50% - 20px); 
  transform: translateY(-50%);
}

button.prev-project { left: -120px; } 
button.next-project { right: -120px; } 