<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ 'assets/css/style.css' | relative_url }}">
  <link rel="shortcut icon" type="image/x-icon" href="{{ 'favicon.ico' | relative_url }}">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
  {% include header.html %}

  <div class="container">
    {{ content }}
  </div>

  {% include footer.html %}

  <script src="{{ 'assets/js/header-footer.js' | relative_url }}"></script>

</body>

</html>